  /*  NAV-HERO  */

.nav-hero {
  display: flex;
}

.nav-hero .nav-item {
  font-family: "Raleway-Medium";
  color: #ffffff;
  margin-right: 20px;
  padding: 5px;
  border-radius: 3px;
}

.nav-hero .nav-item:last-child {
  margin-right: 63px;
}

.nav-hero .nav-item:hover {
  text-decoration: none;
  color: #c7b299;
  background-color: #fff;
}

.nav-hero .is-active {
  color: #c7b299;
}
.nav-hero .is-active:hover {
  color: #c7b299;
  background-color: transparent;
}

  /*  NAV-ICONS  */

.nav-icons {
  flex: 0 1 auto;
}

.nav-icons a {
  margin-right: 20px;
  padding: 5px;
}

.icon-cart:hover {
  stroke: aqua;
}

.icon-search:hover {
  stroke: aqua;
/*stroke-width: 2px;*/
}

.nav-icons a:last-child{
  margin-right: 0;
}

  /*  LOGO  */

.logo {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo:hover {
   color: #c7b299;
}

.logo img:first-child {
  width: 64px;
  height: 56px;
}

.logo img:last-child {
  width: 115px;
  height: 26px;
}




.icon-wrapper {

}
.icon embed {
   width: 50px;
  height: 50px;
}






