.section {
  position: relative;
  padding: 50px 0;
}

.section-title {
}
.section-subtitle {
}
.section-description {
}

  /*  SECTION-HERO  */

.section-hero {
  height: 1024px

}
.section-hero .section-background {

  background-image: url("../../images/Hero/bcgi-hero1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;


  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
 .section-hero .section-background img {
  height: 100%;
  object-fit:cover;

}
.section-hero .section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7);
}

.section-hero .section-foreground {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.section-hero .section-navigation {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.section-hero .section-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0 auto;

  color: #ffffff;
}

.section-hero .section-content {
  max-width: 589px;
  max-height: 261px;
  text-align: center;
}


.section-hero .title-discription {
  color: #ffffff;
  font-family: "Raleway-Medium";
  font-size: 36px;
  font-weight: 500;
  max-width: 562px;
  margin: 0;
  margin-bottom: 14px;
}


.section-hero .section-title {
  font-family: "Raleway-ExtraBold";
  font-size: 52px;
  margin: 0;
  margin-bottom: 14px;

}
.section-hero .section-discription {
  font-family: "Montserrat-Light";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 47px;
}

  /*  SECTION-TOOLS  */

.section-tools {
  position: relative;
  padding: 80px 0;
}

  /*  SECTION-IDEAS  */

.card-ideas img {
  position: relative;

}
/*
.left {
  width: 770px;
  height: 400px;

  top: 435px;
  left: -30px;
  z-index: 1;
}
.middle {
  width: 770px;
  height: 482px;

  left: 17%;
  top: -50px;
  z-index: 3;
}
.right {
  width: 770px;
  height: 400px;

  top: -454px;
  left: 37%;
  z-index: 1;
}
*/

/*

.section-idea {
  position: relative;
}
.container-idea {
  position: relative;
  height: 100%;
}
.img-ideas img {
  width: 100%;

}

.img-ideas .left {
  max-width: 770px;
  max-height: 400px;
  position: absolute;
  top:-378px;
  right: ;
  bottom: ;
  left: 0;
  z-index: 1;
}
.img-ideas .middle {
  max-width: 770px;
  max-height: 482px;
  position: absolute;
  top: -460px;
  left: 190.5px;
  z-index: 3;
}
.img-ideas .right {
  max-width: 770px;
  max-height: 400px;
  position: absolute;
  top: -378px;
  right: ;
  bottom: ;
  left: 36%;
  z-index: 2;
}

  /*                   */

.section .section-ideas {
   position: relative;
   height: 100%;
}
.container-ideas {
  position: relative;
}

.idea .left {
  max-width: 770px;
  max-height: 400px;

  position: absolute;
  top: 90px;
  left: -30px;
  z-index: 1;
}
.idea .middle {
  max-width: 770px;
  max-height: 482px;

  position: absolute;
  top: 20px;
  left: 17%;
  z-index: 3;
}

.idea .right {
  max-width: 770px;
  max-height: 400px;

  position: absolute;
  top: 90px;
  left: 37%;
  z-index: 1;
}









